/* General Styles */
:root {
  --bg: #ffffff;
  --bg-secondary: #e1e1e1;
  --text: #000411;
  --accent: #2962FF;
  --accent-secondary: #ff2b5d; /* Red */
}

.dark {
  --bg: #0A0E16;
  --bg-secondary: #01143c;
  --text: #ffffff;
  --accent: #3569f5;
  --accent-secondary: #FF3B3B;
}

body {
  font-family: 'Inter', 'Manrope', 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

/* Nav Styles */
.nav {
  background-color: var(--bg);
  margin-left: auto;
  width: fit-content;
  position: fixed;
  top: 10%;
  right: 1rem;
  padding: 1rem;
  border-radius: 200px;
  z-index: 999;
  float: left;
}

.nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  text-align: right;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav ul li a {
  color: var(--text);
}
/* 
.header-nav ul li a {
  color: var(--accent);
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 5px;
}

.header-nav ul li a:hover {
  background-color: var(--bg-secondary);
} */

/* Menu Toggle for Small Screens */
.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text);
  margin: 0 auto;
  padding: 0;
  background: none;
  border: none;
}

/* Hero Section */
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  box-sizing: border-box;
  overflow: hidden;
  color: var(--accent);margin: 0;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeDown 0.8s ease-out forwards;
  animation-delay: 0.2s; 
}

@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-text {
  text-align: left;
}

#ruby {
  text-decoration: underline;
  color: var(--accent);
}

#ruby:hover {
  color: var(--accent-secondary);
}

.hero-text h1 {
  font-size: clamp(3rem, 5vw, 3.9rem); 
  line-height: 1.2;
  display: inline-block;
  white-space: nowrap;
  letter-spacing: 0.07rem;
  margin: 0;
}

.hero-text svg {
  padding-right: 1rem;
  color: var(--text);
  width: clamp(20px, 5vw, 35px);
  height: auto;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: clamp(150px, 25vw, 300px);
  transition: width 0.3 ease;
  height: auto;
}

.hero-text p {
  font-size: clamp(1.5rem, 2vw, 1.5rem);
  color: var(--text);
  white-space: normal;
  max-width: 500px;
}

/* Portfolio Section */
.portfolio-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10%;
  background-color: var(--bg-secondary);
}

.portfolio-section h2 {
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--accent);
  /* font-family: 'Lucida Console', Geneva, sans-serif; */
}

.portfolio-carousel {
  width: clamp(500px, 50vw, 900px);
  width: auto;
  margin: 0 auto;
}

.portfolio-carousel a {
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.portfolio-carousel a.is-selected {
  pointer-events: auto;
  opacity: 1;
}

.portfolio-card {
  width: clamp(200px, 50vw, 500px);
  height: auto;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transform: scale(0.5);
  transition: transform 0.3s ease;
}

a.is-selected .portfolio-card {
  transform: scale(1);
}

.portfolio-card img {
  max-width: 100%;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.portfolio-card h3 {
  font-size: 1.2rem;
  color: var(--text);
}

.portfolio-card p {
  font-size: 0.9rem;
  color: var(--text);
}

/* Contact Section */
.contact-section {
  width: 100vw;
  height: 100vh;
  padding: 10%;
  justify-content: center;
  align-content: center;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

.contact-section h2 {
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 1rem;
  color: var(--accent);
}

.contact-section p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.contact-section input,
.contact-section textarea {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-section button {
  padding: 0.8rem;
  background-color: var(--accent-secondary);;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-section button:hover {
  background-color: var(--accent-secondary);
}

/* Footer */
.footer {
  background-color: var(--bg-secondary);
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav {
    top: 0%;
    flex-wrap: nowrap;
    background-color: #00000000;
  }

  .header-logo {
    flex: 1;
  }

  .header-logo img {
    width: 30px;
  }

  .nav ul {
    display: none;
    flex-direction: column;
    background-color: var(--bg);
    width: fit-content;
    position: absolute;
    top: 100%;
    right: 1rem;
    text-align: center;
  }

  .nav ul.show {
    display: flex;
  }

  .nav ul li a {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    color: var(--text);
  }

  .nav ul li a:hover {
    background-color: var(--bg-secondary);
  }

  .menu-toggle {
    display: block;
  }

  .hero {
    padding: 50px 10%;
  }

  .hero-image {
    display: none;
  }
}
