<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cristina Ruby Lee</title>
    <link rel="icon" href="{{ url_for('static', filename='images/ruby.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Header Section -->
    <header class="header">
        <div class="header-logo">
            <a href="" onclick="smoothScroll(event, 'top')">
                <img src="{{ url_for('static', filename='images/ruby.png') }}" alt="Logo featuring a leaf design with the initials 'C R L' placed within the leaf's shape.">
            </a>
        </div>
        <div class="menu-toggle" onclick="toggleMenu()">
            &#9776;
        </div>
        <nav class="header-nav"> 
            <ul>
                <li><a href="" onclick="smoothScroll(event, 'portfolio')">Projects</a></li>
                <li><a href="" onclick="smoothScroll(event, 'contact')">Contact</a></li>
                <li><a href="https://www.linkedin.com/in/cristina-lee-b6a333242/">LinkedIn</a></li>
                <li><button onclick="toggleDarkMode()">Switch</button></li>
            </ul>
        </nav>
    </header>

    <div class="container">
    <!-- Hero Section -->
     <section class="hero">
        <div class="hero-text">
            <h1>Hi there!<br>My name is Cristina <span id="ruby">Ruby</span> Lee.
            </h1>
            <p>
                I’m an undergraduate programmer with a passion for exploring and learning to work with diverse technological tools. This website is a work in progress, reflecting my journey as I develop new web development skills and techniques. Feel free to check back from time to time to see how it evolves!</p>
        </div>
     </section>

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio-section">
        <h2>Projects</h2>
        <div class="portfolio-cards">
            <a href="https://youtu.be/pu22NYmKIgE">
                <div class="portfolio-card">
                    <img src="{{ url_for('static', filename='images/unitlife.png') }}" alt="Unit(Life)">
                    <h3>Unit(Life)</h3>
                    <p>A life simulation game developed in OCaml as the final project for Cornell’s CS 3110 course.</p>
                </div>
            </a>
            <a href="https://youtu.be/pu22NYmKIgE">
                <div class="portfolio-card">
                    <img src="{{ url_for('static', filename='images/unitlife.png') }}" alt="Unit(Life)">
                    <h3>Unit(Life)</h3>
                    <p>A life simulation game developed in OCaml as the final project for Cornell’s CS 3110 course.</p>
                </div>
            </a>
            <a href="https://gdiac.cs.cornell.edu/gdiac/showcase/gallery/kneadforspeed/">
                <div class="portfolio-card">
                    <img src="{{ url_for('static', filename='images/kneadforspeed.png') }}" alt="Knead For Speed">
                    <h3>Knead For Speed</h3>
                    <p>A stealth-action game with a sweet-treat theme, created in Java using the LibGDX game engine.</p>
                </div>
            </a>
            <a href="https://github.com/cristinarubylee/landing-page">
                <div class="portfolio-card">
                    <img src="{{ url_for('static', filename='images/landingpage.png') }}" alt="Gorilla Bureaucracy Landing Page">
                    <h3>Landing Page</h3>
                    <p>A simple business landing page built for the Odin Project’s web development curriculum.</p>
                </div>
            </a>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <h2>Let's Talk :D</h2>
        <form id="contactForm" method="post" action="/contact">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <div class="g-recaptcha" data-sitekey="6LenHU8rAAAAANwbBiC5WbHmhPl_BzC1DWb5mCtt"></div>

            <button type="submit">Send Message</button>
        </form>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </section>
    </div>

    <!-- Footer Section -->
    <footer class="footer">
        <p>Copyright &copy; Cristina Lee 2025.</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

</body>

</html>
